---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* ✅ 폰트 추가 */
@font-face {
  font-family: "DungGeunMo";
  src: url("/assets/fonts/DungGeunMo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* ✅ 기본 폰트 설정 */
body {
  font-family: "DungGeunMo", sans-serif;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
